html,
body {
  margin: 0;
}

body {
  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    #nickname {
      outline: none;
      border: 1px solid #ccc;
      padding: 0.5rem 0.8rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }
    #password {
      outline: none;
      border: 1px solid #ccc;
      padding: 0.5rem 0.8rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }
    #login {
      cursor: pointer;
      border: none;
      background-color: rgb(56, 136, 211);
      color: white;
      padding: 0.5rem 0.8rem;
      font-size: 1rem;
    }
    &.hide {
      display: none;
    }
  }

}
